<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>RebootJS</title>

  <!-- CSS (load bootstrap from a CDN) -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <style>
    body {
      padding-top: 50px;
    }
  </style>
</head>

<body class="container">
  <header>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon glyphicon-globe"></span>
            Welcome to RebootJS
          </a>

          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/user">User</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </div>

      </div>
    </nav>

  </header>

  <main>
    <div class="jumbotron">
      <h1>Welcome to my profile page</h1>
      <p>Je m'appelle <%= user.premon %> <%= user.nom %> </p>
    </div>
    <h1>Update your user below</h1>
    <form name="updateUserForm" method="POST" action="/update/user/<%=user.id%>">

      <div class="form-group">
        <label>Prenom</label>
        <input class="form-control" type="text" name="premon" value="<%= user.premon %> ">
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input class="form-control" type="text" name="nom" value="<%= user.nom %>">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" name="mail" value="<%= user.mail %> ">
      </div>

      <input type="submit" value="Create" class="btn btn-info" id="saveButton">
    </form>
  </main>

  <footer>
    <p class="text-center text-muted">Have a great training &#128153; Flint Academy</p>
  </footer>

</body>

</html>